@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

body {
    background-color: #1a1a1a;
    color: #A1662F;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

.enigma {
    width: 650px;
    background-image: url('../images/enigma_bg.jpeg');
    border: 5px solid #A1662F;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5), 
                inset 3px 3px 10px rgba(255, 255, 255, 0.1);
    padding: 20px;
    text-align: center;
    overflow: auto;
}

.settings-panel {
    background-image: url('../images/enigma_bg.jpeg');
    border: 5px solid #A1662F;
    margin: 10px;
    margin-bottom: 0px;
    padding: 50px;
    padding-top: 0px;
    width: 300px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.apply-settings {
    width: 400px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #1a1a1a;
    background: #A1662F;
    border: 2px solid #A1662F;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

select {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    color: #A1662F;
    background: #1a1a1a;
    border: 2px solid #A1662F;
    border-radius: 3px;
    outline: none;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

select:hover {
    border-color: #814E23;
}

select:focus {
    box-shadow: 0 0 5px #A1662F;
}

.apply-settings:hover {
    background: #814E23;
    border-color: #814E23;
}

.apply-settings:active {
    transform: scale(0.95);
}

.settings-group {
    margin-bottom: 10px;
}

.settings-group label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #A1662F;
}

.rotor-container {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.rotor {
    position: relative;
    width: 60px;
    height: 120px;
    background: #ddd;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.rotor::after {
    content: '';
    border-radius: 30px;
    position: absolute;
    width: 8px;
    height: 100%;
    background: repeating-linear-gradient(
        to bottom,
        #666 0%,
        #777 8%,
        #999 12%,
        white 18%, 
        #999 22%,
        #777 30%
    );
    
    top: 0;
    left: 65px;
}

.rotor::before {
    left: -8px;
}

.rotor::after {
    right: -8px;
}

.label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background: #c1b18c;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.screw {
    position: absolute;
    width: 8px;
    height: 8px;
    background: #bbb;
    border: 1px solid #888;
    border-radius: 50%;
}

.screw.top {
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
}

.screw.bottom {
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
}

.separator {
    position: relative;
    width: 650px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 8px;
    background: #000;
    filter: blur(6px);
}

.lampboard, .keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.plugboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.spacer {
    width: 50px;
}

.key {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #A1662F;
    background: linear-gradient(145deg, #333, #222);
    color: #A1662F;
    text-align: center;
    text-justify: center;
    line-height: 45px;
    font-weight: bold;
    user-select: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
                inset -2px -2px 5px rgba(255, 255, 255, 0.1);
}

.lamp {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: linear-gradient(145deg, #333, #222);
    color: #ddd;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
    user-select: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
                inset -2px -2px 5px rgba(255, 255, 255, 0.1);
    transition: all 0.2s ease-in-out;
}

.plug-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 8px;
}

.plug-label {
    font-size: 12px;
    color: #ddd;
    font-weight: bold;
    margin-bottom: 4px;
}

.plug {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #ddd;
    background: linear-gradient(145deg, #333, #222);
    color: #ddd;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
                inset -2px -2px 5px rgba(255, 255, 255, 0.1);
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}


.key:hover {
    color: #814E23;
    border: 2px solid #814E23;
}

.key:active, .key.active {
    transform: scale(0.9);
    color: #814E23;
}

.lamp.active {
    color: #fff;
    background: #fff;
    box-shadow: 0 0 20px #fff;
}

.decryption-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fast-decryption, .decryption-details {
    background-image: url('../images/enigma_bg.jpeg');
    border: 5px solid #A1662F;
    margin: 20px;
    padding: 50px;
    padding-top: 0px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 40px;
    color: #A1662F;
}

.fast-decryption input, .decryption-details input {
    width: 100%;
    height: 100px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
}
